.env
chromedriver
__pycache__
venv
.env.local
.pytest_cache
*.pyc
*.py[cod]
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.DS_Store
get_data/__pycache__/